<template>
  <div class="card">
    <h1>
        {{ title }}
    </h1>
    <hr>
    <slot>Card conent goes here...</slot>
  </div>
</template>

<script>
export default {
  name: 'CardComponent',
  props: {
    title: String
  }
}
</script>

<style>

.card {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  background-color: var(--background-color);
  width: 80vw;
  max-width: 1500px;
  border-radius: 30px;
  border: 8px solid var(--border-color);
  background-image: url("../assets/card_bg.png");
  background-size: 1500px;
  background-position: center; 
}

.card h1 {
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.5em;
}

.card p {
  margin: 20px;
  text-align: left;
  font-size: 1.3em;
}

.card hr {
  border-top: 3px solid var(--color);
  color: var(--color);
}

</style>