<template>
  <div>
    <header>
      <h1>The Modding Blog of CablePost & Idin</h1>
      <MenuComponent />
    </header>
    <p id="header-gap"></p>
  </div>
</template>

<script>
import MenuComponent from "./MenuComponent.vue";
export default {
    name: "HeaderComponent",
    components: {
       MenuComponent 
       }
}
</script>

<style scoped>
header {
  top: 0px;
  margin: 0px;
  background-color: var(--background-color);
  background-image: url("../assets/card_bg.png");
  background-size: 1500px;
  background-position: center; 
  border-bottom: 8px solid var(--border-color);
  position: fixed;
  width: 100vw;
}

h1 {
  margin-left: auto;
  margin-right: 75px;
  margin-top: 10px;
  padding: 10px;
  display: block;
  font-size: 2em;
  max-width: calc(100vw - 150px);
}

img {
  vertical-align: top;
}

.menu {
  position: fixed;
  scale: 2;
  top: 32px;
  right: 35px;
  width: 20px;
  cursor: pointer;
}

#header-gap {
  margin-bottom: 6em;
}
</style>