<template>
    <div id="menu" class="menuCom">
        <a v-on:click="MenuOpen" id="yes" class="menuIco"><fa style="color: var(--font-color)" icon="bars"></fa></a>
        <ul id = "no">
            <li class="menuItem"><a>Home</a></li>
            <hr>
            <li class="menuItem"><a>Contact</a></li>
            <hr>
            <li class="menuItem"><a href="https://www.curseforge.com/members/billbodkin/projects" target="_blank">CurseForge</a></li>
            <hr>
            <li class="menuItem"><a href="https://discord.gg/D55A6Bc4tG" target="_blank">Discord</a></li>
            <hr>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'MenuComponent',
        methods:
        {
            MenuOpen()
            {
                if(document.getElementById("menu").style.right == "0px"){
                    document.getElementById("menu").style.right = "-175px";
                    document.getElementById("yes").style.right = "20px";
                }else{
                    document.getElementById("menu").style.right = "0px";
                    document.getElementById("yes").style.right = "175px";
                }
            }
        }
    }

</script>

<style scoped>
.menuCom {
    height: 100%;
    width: 150px;
    position: fixed;
    background: white;
    top: 0;
    right: -175px;
    background-image: url("../assets/card_bg.png");
    border-left: var(--border-color) solid 8px;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
    color: var(--font-color);
}

hr {
    border: 1px solid var(--border-color);
    color: black;
}
li:hover{
    background-color: rgba(0, 0, 0, 0.1);

}
a{
    user-select: none;
    text-decoration: none;
}
a:visited{
    color: var(--font-color);
}
.menuIco{
  position: fixed;
  scale: 2;
  top: 15px;
  right: 20px;
  width: 20px;
  cursor: pointer;
}
.menuItem{
    cursor: pointer;
}
</style>