<template>
  <div class="grid-container" :style="cssProps">
    <div class="grid-item left-grid-item" :class="leftCenter ? 'grid-item-center' : ''">
      <slot name="left"></slot>
    </div>
    <div class="grid-item right-grid-item" :class="rightCenter ? 'grid-item-center' : ''">
      <slot name="right"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TwoColumnSplitComponent',
  props: {
    leftWidth: {
      default: "auto",
      type: String
    },
    rightWidth: {
      default: "auto",
      type: String
    },
    leftCenter: {
      default: false,
      type: Boolean
    },
    rightCenter: {
      default: false,
      type: Boolean
    }
  },
  computed: {
    cssProps() {
      return {
        '--left-column-width': this.leftWidth,
        '--right-column-width': this.rightWidth
      }
    }
  }
}
</script>

<style scoped>

.grid-container {
  display: grid;
  grid-template-columns: var(--left-column-width) var(--right-column-width);
  margin: 0px;
  padding: 0px;
}

.grid-container .grid-item {
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.grid-item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

</style>