<template>
  <HomePageComponent/>
</template>

<script>
import HomePageComponent from './components/pages/HomePageComponent.vue'

export default {
  name: 'App',
  components: {
    HomePageComponent
  }
}
</script>

<style>

:root {
  --color: rgb(68, 68, 68);
  --border-color: rgb(23, 35, 31);
  --background-color: rgb(40, 190, 157);
  --font-color: #2c3e50;
}

*{
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  background-color: var(--color);
  background-image: url("./assets/bg.jpeg");
  background-size: 100vw;
  background-position: center; 
  background-attachment: fixed;
  font-size: 25px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>
