<template>
	<div>
		<HeaderComponent/>
		<img style="width: 15em; height: auto;" src="../../assets/idin.png" />
		<img style="width: 15em; height: auto;" src="../../assets/cablepost.png" />
		<CardComponent title="Welcome to The modding blog of CablePost & Idin, a small project that tracks the progress of our modding development!">
			<TwoColumnSplitComponent leftWidth="75%" :rightCenter=true>
				<template #left>
					<p>
						The blog is focused on bringing updates about ongoing projects, patches and acknowledgements about feedback on the previous releases. For any further info please visit the links bellow.
					</p>
				</template>
				<template #right>
					<p>
						<img style="width: 100%; height: auto;" src="../../assets/mascot/2.png" />
					</p>
				</template>
			</TwoColumnSplitComponent>
		</CardComponent>
		<CardComponent title="Random title">
			<p>
				Blah blah blah
			</p>
			<p>
				Blah blah blah
			</p>
			<p>
				Blah blah blah
			</p>
			<p>
				Blah blah blah
			</p>
			<p>
				Blah blah blah
			</p>
			<p>
				Blah blah blah
			</p>
			<p>
				Blah blah blah
			</p>
		</CardComponent>
		<CardComponent title="Random title">
			<TwoColumnSplitComponent rightWidth="75%" :leftCenter=true>
				<template #left>
					<img style="width: 100%; height: auto;" src="../../assets/mascot/2.png" />
				</template>
				<template #right>
					<p>
						Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
					</p>
					<p>
						Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
					</p>
				</template>
			</TwoColumnSplitComponent>
		</CardComponent>
	</div>
</template>

<script>

import HeaderComponent from '../HeaderComponent.vue'
import CardComponent from '../CardComponent.vue'
import TwoColumnSplitComponent from '../TwoColumnSplitComponent.vue'

export default {
  name: 'HomePageComponent',
  components: {
    HeaderComponent,
    CardComponent,
    TwoColumnSplitComponent
  }
}

</script>

<style>


</style>